@font-face {
  font-family: "Lato";
  src: url("../res/fonts/Lato-Regular.ttf");
}

body {
  background-image: url("../res/back-img.jpg");
  margin: 0%;
  font-family: Lato;
  background-size: 100%;
  background-repeat: no-repeat;
}
body .top {
  background-color: rgba(255, 255, 255, 0.8);
  position: sticky;
  top: 0%;
}
.wrapper {
  color: #4d4d4d;
  display: flex;
  flex-direction: row;
  border-bottom: solid 1px #a3a3a3;
  max-width: 80%;
  margin-left: 8%;
  padding: 3%;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0px 2px 14px 0px rgba(98, 98, 98, 0.4);
}

h1 {
  text-align: center;
  padding: 2%;
  color: #4d4d4d;
  box-shadow: 0px 2px 14px 0px rgba(98, 98, 98, 0.4);
}

.section1 {
  height: auto;
  display: flex;
  flex-direction: column;
  max-width: 82%;
}
.section2 {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-top: 11%;
}
.section1 h3 {
  text-align: center;
  width: 100%;
}
.section1 figure {
  padding: 2% 3% 0% 0%;
  border-right: solid 1px #a3a3a3;
}
figure {
  display: flex;
  flex-direction: row;
}
.left {
  display: flex;
  flex-direction: row;
  padding: 1% 5% 1% 0%;
}
.section1 .right {
  padding-top: 1.5%;
  display: flex;
  flex-direction: column;
}

.section1 .labelTotal {
  margin-left: 54%;
}
.section1 .labelPrice input {
  border: none;
  background: none;
  font-size: 1em;
  color: #4d4d4d;
  text-align: right;
}
.section1 .Quantity {
  width: 4%;
  font-size: 0.9em;
  border-radius: 25%;
  text-align: center;
}
.section1 .total {
  width: 16%;
  border: none;
  background: none;
  font-size: 1em;
  text-align: right;
  color: #4d4d4d;
}
.section1 .add:hover {
  color: #1bb23f;
}
.section1 .rem:hover {
  color: #b93737;
}
.section2 input {
  text-align: center;
  max-width: 82%;
  font-size: 1.2em;
  background: none;
  border: none;
  color: #4d4d4d;
}
.section1 .cart {
  border-right: none;
  border-bottom: solid 1px #a3a3a3;
  text-align: center;
}
.section2 .right {
  padding-top: 2%;
  display: flex;
  flex-direction: column;
}
.section2 .payements i {
  padding-left: 1%;
}
.section2 button {
  background-color: #2ecc71;
  border-radius: 11px;
  padding-top: 4%;
  padding-bottom: 4%;
  width: 100%;
  border: none;
  margin-top: 8%;
  color: white;
}
.section2 label {
  padding-top: 4%;
  padding-bottom: 4%;
}
.left img {
  margin-left: 10%;
}

.remove {
  color: #5b5b5b;
  padding-top: 32%;
}
.remove:hover {
  color: #b73636;
}
.like {
  margin-left: 80%;
}
.red {
  color: #b73636;
  animation: heartbeat 1s infinite;
}

@-webkit-keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

footer {
  text-align: center;
  text-decoration: none;
  padding: 5%;
}

@media screen and (max-width: 576px) {/********************************************************/
  body .top {
    background-color: rgba(255, 255, 255, 0.8);
    position: sticky;
    top: 0%;
    font-size: 1.5em;
  }

 
  .wrapper {
    color: #4d4d4d;
    display: flex;
    flex-direction: column;
    border-bottom: solid 1px #a3a3a3;
    max-width: 100%;
    margin-left: 0;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0px 2px 14px 0px rgba(98, 98, 98, 0.4);
  }

  .section1 {
    height: auto;
    display: flex;
    flex-direction: column;
    max-width: 100%;
  }
  .section2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 11%;
  }
  .section1 h3 {
    text-align: center;
    width: 857px;
  }
  .section1 figure {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    border-right: none;
    padding: 0;
  }
  figure {
    display: flex;
    flex-direction: row;
  }
  .left {
    display: flex;
    flex-direction: column;
  }
  .section1 .right {
    padding-top: 1.5%;
    display: flex;
    flex-direction: column;
  }
  .section1 h3 {
    text-align: center;
    width:100%;
  }

  .section1 .labelTotal {
    margin-left: 15%;
  }
  .section1 .labelPrice input {
    border: none;
    background: none;
    font-size: 1em;
    color: #4d4d4d;
    text-align: right;
  }
  .section1 .Quantity {
    width: 7%;
    font-size: 0.9em;
    border-radius: 25%;
    text-align: center;
  }
  .section1 .total {
    width: 31%;
    border: none;
    background: none;
    font-size: 1em;
    text-align: right;
    color: #4d4d4d;
  }
  .section1 .add:hover {
    color: #1bb23f;
  }
  .section1 .rem:hover {
    color: #b93737;
  }
  .section2 input {
    text-align: center;
    max-width: 82%;
    font-size: 1.2em;
    background: none;
    border: none;
    color: #4d4d4d;
  }

  .section2 .right {
    padding-top: 2%;
    display: flex;
    flex-direction: column;
  }
  .section2 .payements i {
    padding-left: 1%;
  }
  .section2 button {
    background-color: #2ecc71;
    border-radius: 11px;
    padding-top: 4%;
    padding-bottom: 4%;
    width: 100%;
    border: none;
    margin-top: 8%;
    color: white;
  }
  .section2 label {
    padding-top: 4%;
    padding-bottom: 4%;
  }
  .left img {
    margin-left: 15%;
    max-width: 71%;
  }

  .remove {
    color: #a1a1a1;
    padding-top: 0;
  }
  .remove:hover {
    color: #b73636;
  }
  .like {
    margin-left: 63%;
  }
  .red {
    color: #b73636;
    animation: heartbeat 1s infinite;
  }

  .section1 .cart {
    border-right: none;
    border-bottom: solid 1px #a3a3a3;
    margin-top: 0%;
    text-align: center;
    margin-bottom: 0;
  }
  footer {
    text-align: center;
    text-decoration: none;
    padding: 5%;
  }

}
