body {
  background-image: url("../res/back-img.jpg");
  background-size: cover;
  margin: 0%;
}
body .top {
  background-color: white;
  position: sticky;
  top: 0%;
}
.wrapper {
  color: #4d4d4d;
  display: flex;
  flex-direction: row;
  border-bottom: solid 1px black;
  max-width: 80%;
  margin-left: 8%;
  padding: 3%;
  background-color: rgba(215, 215, 215, 0.8);
  height: 100%;
}
h2 {
  color: #e7746f;
  text-align: center;
}
h1 {
  text-align: center;
  margin-left: 0%;
  color: #e7746f;
}
.section1 {
  height: auto;
  display: flex;
  flex-direction: column;
  max-width: 82%;
}
.section2 {
  display: flex;
  flex-direction: column;
}
.section1 figure {
  padding: 2% 3% 0% 0%;
}
figure {
  display: flex;
  flex-direction: row;
}
.left {
  display: flex;
  flex-direction: row;
  padding: 1% 5% 1% 0%;
}
.section1 .right {
  padding-top: 1.5%;
  display: flex;
  flex-direction: column;
}

.section1 .labelTotal {
  margin-left: 56%;
}
.section1 .labelPrice input {
  border: none;
  background: none;
  font-size: 1em;
  color: #a1a1a1;
  text-align: right;
}
.section1 .Quantity {
  width: 4%;
  font-size: 0.9em;
  border-radius: 25%;
  text-align: center;
}
.section1 .total {
  width: 12%;
  border: none;
  background: none;
  font-size: 1em;
  text-align: right;
  color: #a1a1a1;
}
.section1 .add:hover {
  color: #1bb23f;
}
.section1 .rem:hover {
  color: #b93737;
}
.section2 input {
  text-align: center;
  max-width: 82%;
  font-size: 1.2em;
  background: none;
  border: none;
  color: #a1a1a1;
}

.section2 .right {
  padding-top: 2%;
  display: flex;
  flex-direction: column;
}
.section2 .payements i {
  padding-left: 1%;
}
.section2 button {
  background-color: #1bb23f;
  border-radius: 11px;
  padding-top: 4%;
  padding-bottom: 4%;
  width: 100%;
  border: none;
  margin-top: 8%;
}
.section2 label {
  padding-top: 4%;
  padding-bottom: 4%;
}
.left img {
  margin-left: 10%;
}
.remove {
  color: #a1a1a1;
  padding-top: 32%;
}
.remove:hover {
  color: #b73636;
}
.like {
  margin-left: 80%;
}
.red {
  color: #4c6ef5;
}
